:root {
  --primaryColor: #124b78;
  --secondaryColor: #3e7293;
}

.u--primaryBlueBackground {
  background-color: var(--primaryColor);
}

.u--secondaryBlueBackground {
  background-color: var(--secondaryColor);
}