.storyBoard {
    --smallFontSize: .75em;
    font-size: var(--smallFontSize);
}

.storyBoard .ui.label {
    font-size: var(--smallFontSize);
    cursor: pointer;
}

.storyBoard .ui.card {
    width: initial;
}

.storyBoard .ui.label:hover {
    background-color: #c3c3c3;
}

@media screen and (min-width: 768px) {
    .storyBoard {
        font-size: 1em;
    }

    .storyBoard .ui.label {
        font-size: .85em;
    }
}